html, body {
    margin: 10px;
    padding: 0;
    background-color: #F3F2F2;
    font-family: "Inter", sans-serif;
}

/* header section */
.generator-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 1em 1em 1em ;
}
.logo{
    width: 100%;
    height: 50px;
    margin-bottom: 2em;
}


.input-dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
    margin-bottom: 1em;
}

input{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: 1px solid black;
    padding: 0.3em;
    flex-shrink: 0;
}

input::-webkit-color-swatch-wrapper {
    padding: 0; /* Remove default padding */
  }

input::-webkit-color-swatch {
    border-radius: 50%; /* Make the swatch a circle */
    border: none; /* Remove default border */
  }

select{
    width: 100%;
    height: 3em;
    border-radius: 3em;
    padding-left: 1em;
    border: 1px solid black;
    appearance: none; /* Remove browser-specific styles */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background-size: 1em;
    background-image: url("assets/down-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 1em center; /* Position the arrow on the right side */
    background-size: 1.2em; /* Adjust the size of the arrow */
    
    font-size: 1rem;
}



button{
    width: 100%;
    height: 3em;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 3em;
    border: 1px solid black;
    background-color: #F3F0F0;
    text-align: center;  
}

button:hover,
button:active,
select:active,
select:hover,
input:active,
input:hover{
    cursor: pointer;
   border: 2px solid black;
    }

/* color section */


.color{
   
    height: 15vh;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 2px solid #F3F2F2;
    border-radius: 0 15vh 15vh 0;

}
.color-hex{
    margin-right: auto;
    margin-bottom: 0;
    margin-top: auto;
    text-align: left;

    padding: 0 0.25em;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.125rem;
}
.color-hex:hover,
.color-hex:active{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
    
    
}
.color-name{
    font-size: 0.75rem;
    margin-right: auto;
    margin-top: 0.25em;
    opacity: 0.5;
    padding-right: 5px;
    text-align: right;
    padding: 0 0.5em;
}


/* footer section */
footer{
    text-align: center;
    margin-top: 0;
    margin: auto;
    font-size: 12px;
    color: #7C7C7C;
    font-weight: 200;
}

/* responsive design */
@media(min-width: 600px){
    .logo{
        width: auto;
        display: inline-block;

        margin: 0;
    }
    .generator-header{
        flex-direction: row;
        margin: 0 2em;
        gap: 1em;

        align-items: center;
        justify-content: space-between;
    }


    
    .input-dropdown{
        width: 400px;
        justify-content: auto;
        margin: 0;
    }

    select{
        width: 300px;
        font-size: 1.125rem;   
    }
    
    button{
    max-width: 300px;
    margin: 0;

    }

    input, select, button{
    height: 50px;
    }
    .color-container{
    display: flex;
    height: 85vh;
    margin-top: 2em;
    margin: 2em;
   
    }
    .color{
    /* border: 1px solid blue; */
    height: 100%;
    width: 20%;
    align-items: center;
    border-radius: 20vw 20vw 0 0;
   
    }
    
    .color-hex{
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 10px;
    border-radius: 5px;
    }

    .color-name{
    margin: 0 0 2em 0;
    text-align: center;
    }
}